@*Imports*@
@inject NavigationManager NavigationManager
@inject IJSRuntime jsRuntime
@using LandingPage
@using LandingPage.Domain.Entities;
@using LandingPage.Components;
@using LandingPage.Infrastructure.Files
@*Page*@
@layout EmptyLayout
@page "/company/about"

<!-- start of main page wrapper -->
<div id="wrapper">
    <!-- start of preloader -->
    <Preloader />
    <!-- end  opreloader -->
    <div class="w1">
        <!-- start of page header -->
        <NavigationBar />
        <!-- end of page header -->
        <!-- start of page main section -->
        <main id="main">
            <!-- start of page-header -->
            <div class="page-header text-center bg-img-full" style="background-image: url(template/images/bg/about.png);">
                <div class="pad-top-lg hidden-sm"></div>
                <span class="bg-overlay"></span>
                <div class="container pad-top-lg pad-bottom-lg">
                    <div class="row pad-top-md pad-bottom-xs">
                        <div class="col-xs-12">
                            <h1 class="heading">About Us</h1>
                        </div>
                    </div>
                </div>
                <div class="pad-top-lg hidden-sm"></div>
            </div><!-- end of page-header -->
            <section class="pad-top-lg">
                <div class="container">
                    <div class="row">
                        <div class="col-xs-12 col-md-10 pad-top-lg pad-bottom-lg col-md-offset-1">
                            <!-- main text -->
                            <h2 class="main-text text-center">
                                Hello! We’re Nativoplus, a creative technology agency. Our team is made up of
                                tech natives who are passionate about building, creating, and developing websites and apps.
                                It’s not just what we do, it’s who we are.
                            </h2>
                        </div>
                    </div>
                    <div class="border-top pad-top-lg"></div>
                    <div class="row mar-bottom-sm">
                        <!-- start of icon-box -->
                        <div class="col-xs-12 col-sm-4 mar-bottom-xs icon-box">
                            <div class="row">
                                <i class="fa fa-rocket main-color icon custom-icon col-xs-1"></i>
                                <div class="holder col-xs-9">
                                    <h3 class="title">Easy For Users</h3>
                                    <p>We are friendly as our websites, we make it easy for visitors to find what they’re looking for on any device.</p>
                                </div>
                            </div>
                        </div><!-- end of icon-box -->
                        <!-- start of icon-box -->
                        <div class="col-xs-12 col-sm-4 mar-bottom-xs icon-box">
                            <div class="row">
                                <span class="fa fa-desktop main-color icon custom-icon col-xs-1"></span>
                                <div class="holder col-xs-9">
                                    <h3 class="title">Pixel Perfect</h3>
                                    <p>We deliver complete and clean design through absolute use of every pixel. We are not perfect, but we try to be!</p>
                                </div>
                            </div>
                        </div><!-- end of icon-box -->
                        <!-- start of icon-box -->
                        <div class="col-xs-12 col-sm-4 mar-bottom-xs icon-box">
                            <div class="row">
                                <span class="fa fa-gears main-color icon custom-icon col-xs-1"></span>
                                <div class="holder col-xs-9">
                                    <h3 class="title">Edit Content</h3>
                                    <p>We’re all about finding the right words to show you and your customers just how amazing you are.</p>
                                </div>
                            </div>
                        </div><!-- end of icon-box -->
                    </div>
                </div>
                <!-- start of wedo section -->
                <section class="bg-grey wedo-section add">
                    <div class="pad-top-lg hidden-sm"></div>
                    <div class="container pad-top-lg">
                        <div class="row pad-bottom-md">
                            <div class="col-md-5 col-xs-12">
                                <!-- start of main-heading -->
                                <header class="main-heading mar-bottom-xs">
                                    <h2 class="heading">You don’t need any skills to create your website with NativoPlus!</h2>
                                    <p>Your success is our success. Our teams work hard to deliver on the most demanding projects.</p>
                                </header><!-- end of main-heading -->
                            </div>
                        </div>
                    </div>
                    <div class="pad-top-lg hidden-sm"></div>
                    <div class="img-box bg-img-full" style="background-image: url(template/images/bg/about-skills-section.jpg);"></div>
                </section><!-- end of wedo section -->
                <!-- start of wedo section -->
                <section class="bg-grey wedo-section add">
                    <div class="pad-top-lg hidden-sm"></div>
                    <div class="pad-top-md hidden-sm"></div>
                    <div class="container">
                        <div class="row pad-bottom-xs">
                            <div class="col-md-5 col-xs-12 col-md-push-7">
                                <!-- start of main-heading -->
                                <header class="main-heading mar-bottom-xs">
                                    <h2 class="heading">Let's get started!</h2>
                                </header><!-- end of main-heading -->
                                <ul class="list-unstyled progress-bar">
                                    <li>
                                        <div class="frame">
                                            <span class="txt">Development</span>
                                            <span class="number"><span class="count">100</span>%</span>
                                        </div>
                                        <span class="bar-outer"><span class="bar" data-width="100"></span></span>
                                    </li>
                                    <li>
                                        <div class="frame">
                                            <span class="txt">Marketing</span>
                                            <span class="number"><span class="count">100</span>%</span>
                                        </div>
                                        <span class="bar-outer"><span class="bar" data-width="100"></span></span>
                                    </li>
                                    <li>
                                        <div class="frame">
                                            <span class="txt">Support</span>
                                            <span class="number"><span class="count">100</span>%</span>
                                        </div>
                                        <span class="bar-outer"><span class="bar" data-width="100"></span></span>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="pad-top-lg hidden-sm"></div>
                    <div class="img-box bg-img-full right" style="background-image: url(template/images/bg/about-build-section.jpg);"></div>
                </section><!-- end of wedo section -->
            </section>

            <AnimatedModal>
                <Content>
                     <div id="wrapper bg-grey">
                        <div class="w1 ">
                            <!-- start of page main section -->
                            <!-- start of page main section -->
                            <main id="main" class="mar-bottom-lg">
                                <!-- start of product-detail -->
                                <div class="product-detail container pad-top-xs mar-bottom-lg">
                                    <div class="row pad-top-md">
                                        <div class="col-xs-12 col-sm-6">
                                            <div class="">

                                                <div class="">
                                                    <img src="@selectedMember.ImgUrl" alt="images" class="img-responsive">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-xs-12 col-sm-6 col-md-5 pad-top-xs">
                                            <h1 class="heading">@selectedMember.Name</h1>
                                            @*Uses Price Class From Be Template*@
                                            <span class="price">@selectedMember.Role</span>
                                            <p>@selectedMember.Description</p>

                                            <ul class="list-inline social pad-top-xs">
                                                @if (selectedMember.LinkedIn.ToString() != "")
                                                {
                                                    <li><a href="@selectedMember.LinkedIn"><i class="fa fa-linkedin-square" aria-hidden="true"></i></a></li>
                                                }
                                                @if (selectedMember.GithubUrl.ToString() != "")
                                                {
                                                    <li><a href="@selectedMember.GithubUrl"><i class="fa fa-github" aria-hidden="true"></i></a></li>
                                                }
                                            </ul>
                                        </div>
                                    </div>
                                </div><!-- end of product-detail -->
                             @*   @if (true)
                                {
                                    <!-- start of related-product -->
                                    <div class="related-product container">
                                        <div class="row">
                                            <div class="col-xs-12">
                                                <h2 class="mainheading">Projects @(selectedMember.Name) has been part:</h2>
                                            </div>
                                        </div>
                                        <div class="row mar-bottom-md">
                                            <!-- start of isotop-holder -->
                                        <div id="isotop-holder">
                                                @foreach (var project in Portfolio)
                                                {
                                                    <!-- start of item -->
                                                    <div class="item col-xs-12 col-sm-6 col-md-4 All mar-bottom-xs">
                                                        <!-- start of product-box -->
                                                <div class="product-box">
                                                            <a href="" @onclick:preventDefault @onclick="@(() => NavigateTo(project.Name))">
                                                                <img src="@project.ImgUrls[0]" alt="image" class="img-responive">
                                                            </a>
                                                            <div class="box">
                                                                <h3 class="heading large"><a href="" @onclick:preventDefault @onclick="@(() => NavigateTo(project.Name))">@project.Name</a></h3>
                                                                <div class="frame">
                                                                    <span class="price">@(project.Categories.Count >0 ? project.Categories[0]: "Development")</span>
                                                                </div>
                                                            </div>
                                                        </div><!-- end of product-box -->
                                            </div>
                                                    <!-- end of item -->
                                                }

                                            </div><!-- end of isotop-holder -->
                                    </div>
                                    </div>

                                    <!-- end of related-product -->
                                }*@
                            </main><!-- end of page main section -->

                        </div>
                        <CallToAction/>
                        <Footer/>
                    </div>
                </Content>

            </AnimatedModal>

            
            <TeamCardList GreyBackground="false"
                          Heading="Meet Our Team"
                          Member="@selectedMember"
                          SelectedTeamMember="@MemberChangedHandler"
                          Body=@(new MarkupString(@"<p>Meet the team behind our work.<br/>
                          We are the Nativoplus team. We are here to bring your projects life.</p>")) />
        </main><!-- end of page main section -->
        <!-- start of promo-box -->
        <CallToAction />
        <!-- end of promo-box -->
        <!-- start of page footer -->
        <Footer />
        <!-- end of page footer -->
    </div>
    <!-- Back Top of the page -->
    @*<BackToTop />*@
</div><!-- end of main page wrapper -->
@code {
    private Team selectedMember = new Team();
    public List<Portfolio> Portfolio = new List<Portfolio> { };
    public Portfolio Project = new Portfolio();

    protected override void OnInitialized()
    {
        var projectTeam = new TeamData().Team;
        var portfolio = new PortfolioData().portfolio;
        Portfolio = portfolio;
        base.OnInitialized();
    }

    private async void MemberChangedHandler(Team selected)
    {
        selectedMember = selected;
        await jsRuntime.InvokeVoidAsync("openModal");

    }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            await jsRuntime.InvokeVoidAsync("initModal");
        }
    }

    public void NavigateTo(string path)
    {
        // Forced Reload To Ensure a Fresh Instance of Javascript Files.
        NavigationManager.NavigateTo("/work/portfolio/" + path, forceLoad: true);
    }

}
