@*Imports*@
@inject NavigationManager NavigationManager
@inject IJSRuntime jsRuntime
@using LandingPage
@using LandingPage.Domain.Entities;
@using LandingPage.Components;
@using LandingPage.Infrastructure.Files
@*Page*@
@layout EmptyLayout
@*@page "/company/about"*@
@page "/about"

<!-- start of main page wrapper -->
<div id="wrapper">
    <!-- start of preloader -->
    <Preloader />
    <!-- end  opreloader -->
    <div class="w1">
        <!-- start of page header -->
        <NavigationBar />
        <!-- end of page header -->
        <!-- start of page main section -->
        <main id="main">
         <!-- start of main banner -->
            <section class="main-banner text-center">
                <!-- slide -->
                <div class="slide bg-img-full" style="background-image: url(template/images/bg/about.webp);">
                    <span class="bg-overlay"></span>
                    <div class="caption">
                        <div class="holder">
                            <h1 class="heading">About Us</h1>
                            <p>It's all about you. From sketch to releasing your project.<br /> We'll be there to guide you at every step. </p>
                            <a href="https://4sdr7v8wyra.typeform.com/to/W1XrxyGw" class="btn btn-green-custom text-uppercase">Let's Talk!</a>
                        </div>
                    </div>
                </div>
                <a href="#" data-scroll-nav="1" class="btn-bottom pe-7s-angle-down" aria-label="Scroll to the next section of the page"></a>
            </section><!-- end of main banner -->
            <section class="pad-top-lg" data-scroll-index="1">
                <div class="container">
                    <div class="row">
                        <div class="col-xs-12 col-md-10 pad-top-lg pad-bottom-lg col-md-offset-1">
                            <!-- main text -->
                            <h2 class="main-text text-center">
                                Hello! We’re Nativoplus, a creative technology agency. Our team is made up of
                                tech natives who are passionate about building, creating, and developing websites and apps.
                                It’s not just what we do, it’s who we are.
                            </h2>
                        </div>
                    </div>
                    <div class="border-top pad-top-lg"></div>
                    <div class="row mar-bottom-sm">
                        <!-- start of icon-box -->
                        <div class="col-xs-12 col-sm-4 mar-bottom-xs icon-box">
                            <IconBox Icon="pe-7s-rocket" Title="Easy For Users"
                                     Text="We are friendly as our websites, we make it easy for visitors to find what they’re
                                     looking for on any device." />
                        </div><!-- end of icon-box -->
                        <!-- start of icon-box -->
                        <div class="col-xs-12 col-sm-4 mar-bottom-xs icon-box">
                            <IconBox Icon="pe-7s-vector" Title="Pixel Perfect"
                                     Text="We deliver complete and clean design through absolute use of every pixel. We are not perfect, 
                                     but we try to be!" />
                        </div><!-- end of icon-box -->
                        <!-- start of icon-box -->
                        <div class="col-xs-12 col-sm-4 mar-bottom-xs icon-box">
                           <IconBox Icon="pe-7s-edit" Title="Edit Content"
                                     Text="We’re all about finding the right words to show you and your customers just how amazing you are." />
                        </div><!-- end of icon-box -->
                    </div>
                </div>
                <!-- start of wedo section -->
                <div class="bg-grey wedo-section add">
                    <div class="pad-top-lg hidden-sm"></div>
                    <div class="container pad-top-lg">
                        <div class="row pad-bottom-md">
                            <div class="col-md-5 col-xs-12">
                                <!-- start of main-heading -->
                                <header class="main-heading mar-bottom-xs">
                                    <h2 class="heading">You don’t need any skills to create your website with NativoPlus!</h2>
                                    <p>Your success is our success. Our teams work hard to deliver on the most demanding projects.</p>
                                </header><!-- end of main-heading -->
                            </div>
                        </div>
                    </div>
                    <div class="pad-top-lg hidden-sm"></div>
                    <div class="img-box bg-img-full" style="background-image: url(template/images/bg/about-skills-section.webp);"></div>
                </div><!-- end of wedo section -->
                <!-- start of wedo section -->
                <div class="bg-grey wedo-section add">
                    <div class="pad-top-lg hidden-sm"></div>
                    <div class="pad-top-md hidden-sm"></div>
                    <div class="container">
                        <div class="row pad-bottom-xs">
                            <div class="col-xs-12 col-md-5 col-md-push-7 ">
                                <!-- start of main-heading -->
                                <header class="main-heading mar-bottom-xs">
                                    <h2 class="heading">Let's get started!</h2>
                                    <p class="text">We don’t just develop apps. We help realize ideas  that make an impact.</p>
                                </header><!-- end of main-heading -->
                                <!-- end of icon-box -->
                                <div class="col-xs-12 ">
                                    <div class="row">
                                        <div class="segmented-control mar-bottom-xs">
                                            <input type="radio" name="sc-1-1" id="sc-1-1-1" checked @onclick=@(() => SegmentedBarObject("Values"))>
                                            <input type="radio" name="sc-1-1" id="sc-1-1-2" @onclick=@(() => SegmentedBarObject("Mission"))>
                                            <input type="radio" name="sc-1-1" id="sc-1-1-3" @onclick=@(() => SegmentedBarObject("Services"))>

                                            <label for="sc-1-1-1" data-value="Our Values">Our Values</label>
                                            <label for="sc-1-1-2" data-value="Our Mission">Our Mission</label>
                                            <label for="sc-1-1-3" data-value="Quality Services">Our Services</label>
                                        </div>

                                    </div>
                                </div>
                                <div class="mar-bottom-xs">
                                    @if (Option == "Values")
                                    {
                                        <p style="height: 200px">
                                            We know that relationships and communication are crucial to sustaining buy- in,
                                            staying the course, meeting expectations, and seizing opportunities for improvement.
                                            We value the people in our organization and believe that great ideas and innovations
                                            happen when people collaborate and network with one another.
                                        </p>

                                    }
                                    else if (Option == "Mission")
                                    {
                                        <p style="height: 200px">
                                            Our job is to help you envision, develop, and launch your project. We can provide support
                                            and expertise at every stage of the development life cycle from conception to scaling.
                                            We’re here to help you make real the project you’ve always imagined.
                                        </p>

                                    }
                                    else if (Option == "Services")
                                    {
                                        <p style="height: 200px">
                                            We provide more than great apps; we help you create the capacity, infrastructure,
                                            and engagement you’ll need to deliver person-centered data integrated projects.
                                        </p>

                                    }
                                </div>
                            </div>

                            <!-- start of icon-box -->
                            <div class="col-xs-12 col-md-8 col-md-push-7 ">
                            </div>
                        </div>
                    </div>
                    <div class="pad-top-lg hidden-sm"></div>
                    <div class="img-box bg-img-full right" style="background-image: url(template/images/bg/about-build-section.webp);"></div>
                </div><!-- end of wedo section -->
            </section>

            <AnimatedModal>
                <Content>
                    <div id="wrapper bg-grey">
                        <div class="w1 ">
                            <!-- start of page main section -->
                            <main id="main" class="mar-bottom-lg">
                                <!-- start of product-detail -->
                                <div class="product-detail container pad-top-xs mar-bottom-lg">
                                    <div class="row pad-top-md">
                                        <div class="col-xs-12 col-sm-6">
                                            <div class="">

                                                <div class="">
                                                    <img loading="lazy" src="@selectedMember.ImgUrl" alt="images" class="img-responsive">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-xs-12 col-sm-6 col-md-5 pad-top-xs">
                                            <h1 class="heading">@selectedMember.Name</h1>
                                            @*Uses Price Class From Be Template*@
                                            <span class="price">@selectedMember.Role</span>
                                            <p>@selectedMember.Description</p>

                                            <ul class="list-inline social">
                                                @if (selectedMember.LinkedIn.ToString() != "")
                                                {
                                                    <li><a href="@selectedMember.LinkedIn" aria-label="Team member's LinkedIn profile"><i class="fa fa-linkedin-square" aria-hidden="true"></i></a></li>
                                                }
                                                @if (selectedMember.GithubUrl.ToString() != "")
                                                {
                                                    <li><a href="@selectedMember.GithubUrl" aria-label="Team member's GitHub account"><i class="fa fa-github" aria-hidden="true"></i></a></li>
                                                }
                                            </ul>
                                        </div>
                                    </div>
                                </div><!-- end of product-detail -->

                            </main><!-- end of page main section -->

                        </div>
                        <CallToAction />
                        <Footer />
                    </div>
                </Content>

            </AnimatedModal>


            <TeamCardList GreyBackground="false"
                          Heading="Meet Our Team"
                          Member="@selectedMember"
                          SelectedTeamMember="@MemberChangedHandler"
                          Body=@(new MarkupString(@"<p>Meet the team behind our work.<br/>
                          We are the Nativoplus team. We are here to bring your projects life.</p>")) />
        </main><!-- end of page main section -->
        <Cookies/>
        <!-- start of promo-box -->
        <CallToAction />
        <!-- end of promo-box -->
        <!-- start of page footer -->
        <Footer />
        <!-- end of page footer -->
    </div>
    <!-- Back Top of the page -->
    <BackToTop/>
</div><!-- end of main page wrapper -->
@code {
    private Team selectedMember = new Team();
    public List<Portfolio> Portfolio = new List<Portfolio> { };
    public Portfolio Project = new Portfolio();
    public string Option = "Values";

    protected override void OnInitialized()
    {
        var projectTeam = new TeamData().Team;
        var portfolio = new PortfolioData().portfolio;
        Portfolio = portfolio;
        base.OnInitialized();
    }

    private async void MemberChangedHandler(Team selected)
    {
        selectedMember = selected;
        await jsRuntime.InvokeVoidAsync("openModal");

    }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            await jsRuntime.InvokeVoidAsync("initModal");
        }
    }

    public void NavigateTo(string path)
    {
        // Forced Reload To Ensure a Fresh Instance of Javascript Files.
        NavigationManager.NavigateTo("/portfolio/" + path, forceLoad: true);
    }

    public void SegmentedBarObject(string option)
    {
        Option = option;
    }

}
