@*Imports*@
@using LandingPage.Components
@using LandingPage.Components.Collapsible
@using static LandingPage.Enums.CollapsibleItemEnum
@*Page*@
@layout EmptyLayout
@page "/services"

<PageTitle>NativoPlus - Services</PageTitle>
<!-- start of main page wrapper -->
<div id="wrapper">
    <!-- start of preloader -->
    <Preloader />
    <!-- end of preloader -->
    <div class="w1">
        <!-- start of page header -->
        <NavigationBar />
        <!-- end of page header -->
        <!-- start of page main section -->
        <main id="main">
            <!-- start of page-header -->
            <div class="page-header text-center bg-img-full" style="background-image: url(template/images/bg/services.webp);">
                <div class="pad-top-lg hidden-sm"></div>
                <span class="bg-overlay"></span>
                <div class="container pad-top-lg pad-bottom-lg">
                    <div class="row pad-top-md pad-bottom-xs">
                        <div class="col-xs-12">
                            <h1 class="heading">Services</h1>
                        </div>
                    </div>
                </div>
                <div class="pad-top-lg hidden-sm"></div>
            </div><!-- end of page-header -->

            <div class=" ">
                <!-- start of main-heading -->
                <div class="container pad-top-lg">
                    <!-- start of main-heading -->
                    <header class="main-heading text-center row mar-bottom-md">
                        <div class="col-xs-12">
                            <h2 class="heading">We grow ideas into businesses<br /> "and have fun while doing it."</h2>

                            <button href="https://4sdr7v8wyra.typeform.com/to/W1XrxyGw" class="btn btn-green-hover mar-bottom-xs mar-top-xs">Let's talk about your project</button>

                        </div>
                    </header><!-- end of main-heading -->

                </div>
            </div>
            <!-- start of wedo section -->
            <section class="bg-grey wedo-section">
                <div class="container pad-top-md pad-bottom-xs">
                    <div class="row">
                        <div class="col-md-7 col-xs-12">
                            <!-- start of main-heading -->
                            <header class="main-heading mar-bottom-lg">
                                <h2 class="heading mar-bottom-xs">Our Process</h2>
                                <p>We use a digital strategy to help you transform your business into one that is technology-driven.</p>
                            </header><!-- end of main-heading -->
                            <div class="row">
                                <!-- start of icon-box -->
                                <div class="col-xs-12 col-sm-6 mar-bottom-xs icon-box">
                                    <IconBox Icon="pe-7s-search" Title="Scope" Large=true
                                             Text="Define the vision and scope of your project concept. Anticipate and plan for organizational
                                    and infrastructure needs. We’ll help you mobilize the right resources for your project." />
                                </div>
                                <!-- end of icon-box -->
                                <!-- start of icon-box -->
                                <div class="col-xs-12 col-sm-6 mar-bottom-xs icon-box">
                                    <IconBox Icon="pe-7s-paint" Title="Design" Large=true
                                             Text="Diagram the architecture and review which options make the most sense for your business needs.
                                    We’ll help you create a roadmap with a SMART release schedule, and clear user stories and acceptance criteria." />
                                </div>
                                <!-- end of icon-box -->
                            </div>
                            <div class="row">
                                <!-- start of icon-box -->
                                <div class="col-xs-12 col-sm-6 mar-bottom-sm icon-box">
                                    <IconBox Icon="pe-7s-phone" Title="Develop" Large=true
                                             Text="Create mockups, rapid prototypes, and functional demos early and often (normally at each sprint planning meeting).
                                    Continuous development and integration. We build apps with you." />
                                </div><!-- end of icon-box -->
                                <!-- start of icon-box -->
                                <div class="col-xs-12 col-sm-6 mar-bottom-sm icon-box">
                                    <IconBox Icon="pe-7s-network" Title="Deploy" Large=true
                                             Text="Testing, QA, and deployment. Since you have been a part of the development process,
                                    you know exactly what is being built and how far along we are." />
                                </div><!-- end of icon-box -->
                            </div>
                        </div>
                    </div>
                </div>
                <div class="img-box bg-img-full" style="background-image: url(template/images/bg/services2.webp);"></div>
            </section><!-- end of wedo section -->
            <!-- start of wedo section -->
            <div class="pad-bottom-md">
                <!-- start of main-heading -->
                <div class="container pad-top-md">
                    <header class="main-heading">
                        <div class="col-md-7 pad-top-xs ">
                            <h2 class="heading pull-left">Marketing & Service Design</h2>
                            <p class="pull-left">
                                We design a better service by understanding the users needs. We do this by conducting research and validating the project’s problem. We make sure your brand
                                is communicating effectively with a strategy to help you understand who you are and how to communicate in a meaningful way to your audience. We create unique
                                content for all your touchpoints, as efficiently as possible, so people can find your strongest stories, see your brand clearly, and engage with your business
                                consistently.
                            </p>

                        </div>
                        <div class="col-md-4 col-md-offset-1 hidden-sm">
                            <lottie-player src="https://assets9.lottiefiles.com/packages/lf20_ip1oarec.json" background="transparent" speed="1" style="width: 350px; height: 350px;" loop autoplay></lottie-player>
                        </div>
                    </header><!-- end of main-heading -->

                </div>
                <div class="container collapsible pad-top-sm" style="padding: 0px 20px;">
                    <Collapsible>
                        <CollapsibleItem Header="Markenting & Design Services" Items="@MarketingServicesList" CollapsibleItemOption="@CollapsibleItemOptions.List" HasBottomBorder="false"></CollapsibleItem>
                    </Collapsible>
                </div>
            </div>
            <!-- start of wedo section -->
            <div class="bg-grey pad-bottom-md">
                <!-- start of main-heading -->
                <div class="container pad-top-md">
                    <header class="main-heading">

                        <div class="col-md-4 hidden-sm" style="bottom: 10px;">
                            <lottie-player src="https://assets1.lottiefiles.com/packages/lf20_vvd6bbl7.json" background="transparent" speed="1" style="width: 350px; height: 350px;" loop autoplay></lottie-player>

                        </div>
                        <div class="col-md-7 col-md-offset-1 pad-top-xs">
                            <h2 class="heading pull-left">Sprint Planning</h2>
                            <p class="pull-left">
                                Design Sprints bring together the people who know a product best, so they can quickly and inexpensively generate, test, and iterate on ideas. These collaborations
                                lead to better results than working in isolation. We structure our sprints to have rapid ideation and validation, creating a bespoke flow for each project. We build
                                our planning on the previous phase conclusions to help define problems and solutions.
                            </p>

                        </div>
                    </header><!-- end of main-heading -->
                </div>
            </div>
            <!-- start of wedo section -->
            <div class="pad-bottom-md">
                <!-- start of main-heading -->
                <div class="container pad-top-md">
                    <header class="main-heading">
                        <div class="col-md-7 pad-top-xs">
                            <h2 class="heading pull-left">UX, UI, & Product Design</h2>
                            <p class="pull-left">
                                We apply interactivity and visual design principles to make websites and web applications more user-friendly. We’re highly specialized in creating an exceptional
                                user experience for digital products and projects. We have a very detailed understanding of the design process; from ideation and strategy to implementation, we
                                design experiences that build successful projects. We pay close attention to flows and insights because we know that builds successful brands.
                            </p>
                        </div>
                        <div class="col-md-4 col-md-offset-1 hidden-sm">
                            <lottie-player src="https://assets4.lottiefiles.com/packages/lf20_comtgbug.json" background="transparent" speed="1" style="width: 300px; height: 350px;" loop autoplay></lottie-player>
                        </div>
                    </header><!-- end of main-heading -->
                </div>
                <div class="container collapsible pad-top-sm" style="padding: 0px 20px;">
                    <Collapsible>
                        <CollapsibleItem Header="UX, UI, & Product Design Services" Items="@UIServicesList" CollapsibleItemOption="@CollapsibleItemOptions.List" HasBottomBorder="false"></CollapsibleItem>
                    </Collapsible>
                </div>
            </div>
            <!-- start of wedo section -->
            <div class="bg-grey pad-bottom-md">
                <!-- start of main-heading -->
                <div class="container pad-top-md">
                    <header class="main-heading pad-bottom-xs">
                        <div class="col-md-4 hidden-sm pad-bottom-xs" style="bottom: 20px;">
                            <lottie-player src="https://assets2.lottiefiles.com/packages/lf20_cwbutqfi.json" background="transparent" speed="1" style="width: 350px; height: 350px;" loop autoplay></lottie-player>
                        </div>
                        <div class="col-md-7 col-md-offset-1 pad-top-xs">
                            <h2 class="heading pull-left">Web Development</h2>
                            <p class="pull-left">
                                We are focused on building, connecting, maintaining, and scaling technology solutions to simplify customers’ experiences. Our diverse skill set enables us to
                                execute cutting-edge solutions that help our clients succeed. Scalability, project management, performance optimization, and data analysis are amongst the
                                things we do to help shape your business. We develop feature-rich, highly functional, robust, secure, and scalable custom web solutions.
                            </p>
                        </div>
                    </header><!-- end of main-heading -->
                </div>
                <div class="container collapsible pad-top-sm" style="padding: 0px 20px;">
                    <Collapsible>
                        <CollapsibleItem Header="Web Development Services" Items="@WebDevelopmentServicesList" CollapsibleItemOption="@CollapsibleItemOptions.List" HasBottomBorder="false"></CollapsibleItem>
                    </Collapsible>
                </div>
            </div>
            <!-- start of wedo section -->
            <div class="pad-bottom-lg">
                <!-- start of main-heading -->
                <div class="container pad-top-md">
                    <header class="main-heading">
                        <div class="col-md-7 pad-top-xs">
                            <h2 class="heading pull-left">Mobile Development</h2>
                            <p class="pull-left">
                                We help you develop mobile applications from scratch, scale up existing applications, turn an idea into a reality, or replicate your application experience
                                on a second device. We work closely with you to create the perfect application for iOS, Android, and hybrid mobile applications. Our skilled team of mobile
                                app developers is at your service.
                            </p>
                        </div>
                        <div class="col-md-4 col-md-offset-1 hidden-sm">
                            <lottie-player src="https://assets5.lottiefiles.com/packages/lf20_ti4y5deu.json" background="transparent" speed="1" style="width: 350px; height: 350px;" loop autoplay></lottie-player>
                        </div>
                    </header><!-- end of main-heading -->

                </div>
                <div class="container collapsible pad-top-sm">
                    <Collapsible>
                        <CollapsibleItem Header="Mobile Development Services" Items="@MobileDevelopmentServicesList" CollapsibleItemOption="@CollapsibleItemOptions.List" HasBottomBorder="false"></CollapsibleItem>
                    </Collapsible>
                </div>
            </div>
        </main>
        <!-- end of page main section -->
        <!-- start of promo-box -->
        <CallToAction />
        <!-- end of promo-box -->
        <!-- start of page footer -->
        <Footer />
        <!-- end of page footer -->
    </div>
    <!-- Back Top of the page -->
    <BackToTop />
</div>

@code {
    public List<string> MarketingServicesList = new List<string>(){"Branding", "Blogs", "Display", "Ecommerce", "Email Marketing", "Events",
    "Investigations and Diagnosis", "Marketing Automation", "Photography", "Public Relations", "SEO", "Strategic Planning", "Social Media", "Video"};
    public List<string> UIServicesList = new List<string>(){"User Stories", "User Flow Charts Diagrams", "Wireframes", "Content Strategy", "Information Architecture",
    "Brand and Design System Development"};
    public List<string> WebDevelopmentServicesList = new List<string>(){"Complete Security, Networking, and Communications", "E-commerce and E-marketing Tools", "Elixir & Phoenix",
    "Optimization (SEO)", "Python", "React", "Ruby on Rails", "Search Engine", "Virtual CIO to manage your technology needs", "Web Design", "Web Development"};
    public List<string> MobileDevelopmentServicesList = new List<string>(){"App Design, App Development", "Deployment", "Testing",
    "Wireframes"};
}
