@*Imports*@
@implements IDisposable
@inject NavigationManager NavigationManager
@using LandingPage.Components
@using LandingPage.Domain.Entities
@using LandingPage.Infrastructure.Files
@inject NavigationManager NavigationManager
@layout EmptyLayout
@page "/work/portfolio/{ProjectName}"
<!-- start of main page wrapper -->
<PageTitle>NativoPlus - @project.Name</PageTitle>
<div id="wrapper">
    <!-- start of preloader -->
    <Preloader />
    <!-- end of preloader -->
    <div class="w1">
        <!-- start of page header -->
        <NavigationBar />
        <!-- end of page header -->
        <!-- start of search-popup -->
        <div class="search-popup">
            <div class="holder">
                <a href="#" class="search-close"><span></span><span></span></a>
                <div class="frame">
                    <form action="#">
                        <fieldset>
                            <input placeholder="Search here..." type="text">
                            <button class="pe-7s-search" type="submit"></button>
                        </fieldset>
                    </form>
                </div>
            </div>
        </div><!-- end of search-popup -->
        <!-- start of page main section -->
        <main id="main">
            <!-- start of page-header -->
            <div class="page-header text-center bg-img-full"
                style="background-image: url(template/images/bg/bggrey.png);">
                <span class="bg-overlay"></span>
                <div class="container pad-top-xs pad-bottom-lg">
                    <div class="row pad-top-md pad-bottom-xs">
                        <div class="col-xs-12">
                            <!-- start of breadcrumbs -->
                            <ul class="list-inline breadcrumbs">
                                <li><a href="index.html">Home</a></li>
                                <li>Portfolio Details</li>
                            </ul><!-- end of breadcrumbs -->
                        </div>
                    </div>
                </div>
            </div><!-- end of page-header -->
            <div class="container pad-top-md">
                <div class="row mar-bottom-sm pad-top-xs">
                    <div class="col-xs-12">
                        <!-- start of port-slider -->
                        <div class="port-slider">
                            @foreach (var imgage in project.ImgUrls)
                            {
                                <div class="slide">
                                    <img src="@imgage" alt="image" class="img-responsive">
                                </div>
                            }
                        </div><!-- end of port-slider -->
                    </div>
                </div>
                <!-- start of port-detail -->
                <div class="row port-detail mar-bottom-xs">
                    <div class="col-xs-12 col-sm-8 mar-bottom-xs">
                        <span class="heading">@project.Name</span>
                        <p>@project.Headline</p>
                        @project.Body
                        @* <ul class="social list-inline">
                            <li>Share:</li>
                            <li><a href="#" class="fa fa-twitter"></a></li>
                            <li><a href="#" class="fa fa-facebook"></a></li>
                            <li><a href="#" class="fa fa-google-plus"></a></li>
                            <li><a href="#" class="fa fa-pinterest-p"></a></li>
                            </ul>*@
                    </div>
                    <div class="col-xs-12 col-sm-4 col-md-3 col-md-offset-1 mar-bottom-xs">

                        <!-- Starts Of Category Details-->
                        <div>
                            <span class="subheading">Category</span>
                            <span class="txt">
                                @foreach (var category in project.Categories)
                                {

                                    if (project.Categories.IndexOf(category) != project.Categories.Count - 1)
                                    {
                                        // Add Comma and a Space at the end of the string.
                                        @(@category + ", ")
                                    }
                                    else
                                    {
                                        // Does Not Add Comma and Space at the end of the string for last item.
                                        @category
                                    }
                                }
                            </span>
                        </div>
                        <!-- End Of Category Details-->
                        <!-- Starts Of Date Details-->
                        <div>
                            <span class="subheading">Date</span>
                            <span class="txt">TBA</span>
                        </div>
                        <!-- End Of Date Details-->
                        <!-- Starts Of Tags Details-->
                        @*<div>
                            <span class="subheading">Tags</span>
                            <span class="txt">
                            @foreach (var category in project.Services)
                            {

                            if (project.Services.IndexOf(category) < 1)
                            {
                            // Add Comma and a Space at the end of the string.
                            @(@category + ", ")
                            }
                            else if (project.Services.IndexOf(category) == 1)
                            {
                            // Does Not Add Comma and Space at the end of the string for last item.
                            @category
                            }
                            }
                            </span>
                            </div>*@
                        <!-- End Of Tags Details-->
                    </div>



                </div><!-- end of port-detail -->

                @* <div class="border-top mar-bottom-md"></div>
                    <div class="row mar-bottom-lg">
                    <div class="col-xs-4">
                    <a href="portfolio-detail.html" class="btn-port"><i class="fa fa-long-arrow-left"
                    aria-hidden="true"></i> Previous</a>
                    </div>
                    <div class="col-xs-4 text-center">
                    <a href="portfolio.html" class="btn-port">All Projects</a>
                    </div>
                    <div class="col-xs-4 text-right">
                    <a href="portfolio-detail.html" class="btn-port">Next <i class="fa fa-long-arrow-right"
                    aria-hidden="true"></i></a>
                    </div>
                    </div> *@
            </div>

        </main><!-- end of page main section -->

        <TeamCardList Team="@project.Team" Heading="The Team" />

        @if (@project.Reviews.Count > 0)
        {
            <!-- Start of Testimonial Section -->
            <Testimonials Reviews="@project.Reviews" />
            <!-- End of Testimonial Section -->
        }
        <!-- start of promo-box -->
        <CallToAction />
        <!-- end of promo-box -->
        <!-- start of page footer -->
        <Footer />
        <!-- end of page footer -->
    </div>
    <!-- Back Top of the page -->
    <BackToTop />
</div><!-- end of main page wrapper -->
@code {
    [Parameter]
    public List<Portfolio> Portfolio { get; set; } = new List<Portfolio> { };
    [Parameter]
    public string ProjectName { get; set; } = "";
    public Portfolio project = new Portfolio();
    public List<Team> ourTeamMembers = new List<Team> { };

    protected override void OnInitialized()
    {
        var portfolio = new PortfolioData().portfolio;
        project = portfolio.FirstOrDefault(p => p.Name == ProjectName) ?? new Portfolio();
        base.OnInitialized();
    }

    public void NavigateTo(string path)
    {
        // Forced Reload To Ensure a Fresh Instance of Javascript Files.
        NavigationManager.NavigateTo("/work/portfolio/" + path, forceLoad: true);
    }

    private void LocationChanged(object sender, LocationChangedEventArgs e)
    {
        string navigationMethod = e.IsNavigationIntercepted ? "HTML" : "code";
        System.Diagnostics.Debug.WriteLine($"Notified of navigation via {navigationMethod} to {e.Location}");
    }
    void IDisposable.Dispose()
    {
        // Unsubscribe from the event when our component is disposed
        NavigationManager.LocationChanged -= LocationChanged;
    }
}
