@using LandingPage.Domain.Entities
@using LandingPage.Infrastructure.Files
@inject IJSRuntime jsRuntime
<section class="@(GreyBackground ? "bg-grey" : "") pad-top-lg">
    <header class="main-heading text-center row">
        <div class="col-xs-12">
            <h2 class="heading">@Heading</h2>
            @Body
        </div>
    </header><!-- end of main-heading -->

    <div class="container">
        <div class="row pad-top-md">
            @foreach (var member in Team)
            {
                <!-- start of team-box -->
                <div class="col-xs-12 col-sm-4">

                    <div class="port-slider">
                        <div class="team-box text-center">

                            <a href="#" @onclick:preventDefault @onclick=@(() => OnTeamMemberClickHandler(member)) aria-label="Learn more about this team member">
                                <div class="img-box"><img src="@member.ImgUrl" alt="Team member's photo" class="img-responsive"></div>
                            </a>
                            <a href="#" @onclick:preventDefault @onclick=@(() => OnTeamMemberClickHandler(member)) class="custom-link" aria-label="Learn more about this team member">
                                <h3 class="heading">@member.Name</h3>
                                <span class="text">@member.Role</span>
                            </a>
                            <!-- social -->
                        <ul class="list-inline social">
                                @if (member.LinkedIn.ToString() != "")
                                {
                                    <li><a href="@member.LinkedIn" aria-label="Team member's LinkedIn profile"><i class="fa fa-linkedin-square" aria-hidden="true"></i></a></li>
                                }
                                @if (member.GithubUrl.ToString() != "")
                                {
                                    <li><a href="@member.GithubUrl" aria-label="Team member's GitHub account"><i class="fa fa-github" aria-hidden="true"></i></a></li>
                                }
                            </ul>
                        </div><!-- end of team-box -->
                </div>
                </div>
            }
        </div>
    </div>
</section>
@code
{
    [Parameter]
    public Team Member { get; set; } = new Team();
    [Parameter]
    public EventCallback<Team> SelectedTeamMember { get; set; }
    [Parameter]
    public bool GreyBackground { get; set; } = false;
    [Parameter]
    public string Heading { get; set; } = string.Empty;
    [Parameter]
    public MarkupString Body { get; set; } = new MarkupString("");
    [Parameter]
    public List<Team> Team { get; set; } = new List<Team> { };

    protected override void OnInitialized()
    {

        Team = new TeamData().Team;
        Shuffle();
        //ourTeamMembers = Shuffle(ourTeamMembers);
        base.OnInitialized();
    }
    public void Shuffle()
    {

        var rnd = new Random();
        var randomized = Team.OrderBy(item => rnd.Next());

        Team = randomized.ToList();
    }

    public async void OnTeamMemberClickHandler(Team member)
    {
        // Console.log() Equivalent in Blazor.
        // await this.jsRuntime.InvokeVoidAsync("console.log", member.Name);
        await SelectedTeamMember.InvokeAsync(member);
    }
}
